.acg1 {
  background: white;
  color: black;
  font-family: "Press Start 2P";
  padding: 20px 20px 20px 20px;
  margin-left: 30px;
}
.acg2 {
  color: white;
  font-family: "Press Start 2P";
  text-align: right;
}
.acg3 {
  color: white;
  font-family: "Press Start 2P";
  text-align: center;
  margin-top: 60px;
}
.acg4 {
  height: 10px;
  background: white;
  text-align: center;
  margin-top: 130px;
}
.acg5 {
  color: white;
  font-family: "Press Start 2P";
  margin-top: 170px;
}
.acg6 {
  color: white;
  font-size: 20px;
  position: absolute;
  margin-left: 50%;
  margin-top: 65px;
  font-family: "Press Start 2P";
}
.acg7 {
  color: white;
  font-size: 20px;
  position: absolute;
  margin-left: 50%;
  margin-top: 130px;
  font-family: "Press Start 2P";
}
.acgA1 {
  background: white;
  font-size: 50px;
  position: absolute;
  margin-top: -50px;
  margin-left: -75px;
  font-family: "Press Start 2P";
  padding: 30px 30px 30px 30px;
}
.acgA2 {
  margin-left: 50%;
}
.input {
  background: black;
  border: white 5px solid;
  height: 80px;
  color: white;
  font-family: "Press Start 2P";
  font-size: 40px;
  text-align-last: center;
  width: 200px;
  position: absolute;
  margin-top: -50px;
  margin-left: 40px;
}
.click {
  background: white;
  color: black;
  position: absolute;
  margin-top: 60px;
  margin-left: 70px;
  font-size: 19px;
  font-weight: bolder;
  font-family: "Press Start 2P";
  padding: 20px 20px 20px 20px;
}
.again {
  background: white;
  color: black;
  margin-left: 70px;
  font-size: 19px;
  font-weight: bolder;
  font-family: "Press Start 2P";
  padding: 20px 20px 20px 20px;
}
body {
  background: black;
}
